


<link rel='stylesheet' href='frontend/css/designs/.css?ver=' type='text/css' media='all' />

<link rel='stylesheet' href='frontend/css/wizardpanel.min.css?ver=' type='text/css' media='all' />

<link rel='stylesheet' href='frontend/css/wordpress.min.css?ver=' type='text/css' media='all' />

<link rel='stylesheet' href='frontend/css/integrations/.min.css?ver=' type='text/css' media='all' />

  <script type='text/javascript' src='frontend/js/menu1.min.js?ver='></script>


  <link rel='stylesheet' href='frontend/css/designs/-dark.css?ver=' type='text/css' media='all' />

  <link rel='stylesheet' href='frontend/css/wizardpanel-dark.min.css?ver=' type='text/css' media='all' />

    <script>


    var colortoggle = true;



    var colortoggle_default = window.colortoggle_default || 'colortoggle-dark';


  </script>

    <script>
  (function () {
  try {
    var cookieName = 'colortoggle-mode';
    var colortoggle_default = window.colortoggle_default || 'colortoggle-light';

    function getCookie(name) {
      var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
      return match ? match[2] : null;
    }

    var mode = getCookie(cookieName) || localStorage.getItem(cookieName);

    if (!mode) {
      mode = colortoggle_default;
    }

    function applyMode() {
      if (mode === 'colortoggle-dark') {
        document.body.classList.remove('colortoggle-light');
        document.body.classList.add('colortoggle-dark');
      } else {
        document.body.classList.remove('colortoggle-dark');
        document.body.classList.add('colortoggle-light');
      }
    }

    if (document.body) {
      applyMode();
    } else {
      document.addEventListener('DOMContentLoaded', applyMode);
    }
  } catch (e) {
    // fail silently
  }
  })();
  </script>

  <script type='text/javascript' src='frontend/js/colortoggle.min.js?ver='></script>


<script type='text/javascript' src='frontend/js/wizardpanel.min.js?ver='></script>







<style>:root {}</style>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
